---
import Vanderlande from './content/VanderlandeContent.astro';
import Hoogendoorn from './content/HoogendoornContent.astro';
import Freelance from './content/FreelanceContent.astro';
import VanderlandeGraph from './illustrations/vanderlande/graph.astro';
import LyceoRow from './illustrations/lyceo-wp/row.astro';
import LetsGrow from './content/LetsGrowContent.astro';
import LyceoFe from './content/LyceoFeContent.astro';
import HoogendoornRTR from './illustrations/hoogendoorn/rtr.astro';
import LetsGrowGraph from './illustrations/letsgrow/graph.astro';
import FreelanceCard from './illustrations/freelance/card.astro';
import Lesson from './illustrations/lyceo-fe/lesson.astro';
import LyceoWp from './content/LyceoWpContent.astro';
import ANWBContent from "./content/ANWBContent.astro";
import Routeplanner from "./illustrations/anwb/routeplanner.astro";
import Traffic from "./illustrations/anwb/bg.astro";
import Slider from "../slider/Slider.astro"
import Slide from "../slider/Slide.astro"
---
<div class="col-start-1 col-end-5 order-4">
<Slider class="md:hidden  ">
    <Slide class="pb-12 px-8">
        <Traffic class="mb-16 ml-10"/>
        <Routeplanner class="absolute top-10 w-60"/>
        <ANWBContent/>
    </Slide>
    <Slide class="pb-12 px-8">
        <VanderlandeGraph class="mb-8"/>
        <Vanderlande/>
    </Slide>
    <Slide class="pb-12 px-8">
        <HoogendoornRTR class="mb-8"/>
        <Hoogendoorn/>
    </Slide>
    <Slide class="pb-12 px-8">
        <LetsGrowGraph class="mb-8"/>
        <LetsGrow/>
    </Slide>
    <Slide class="pb-12 px-8">
        <Lesson class="mb-8"/>
        <LyceoFe/>
    </Slide>
    <Slide class="pb-12 px-8">
        <LyceoRow class="mb-8"/>
        <LyceoWp/>
    </Slide>
    <Slide class="pb-12 px-8">
        <FreelanceCard class="mb-8"/>
        <Freelance/>
    </Slide>
</Slider>
</div>
