---
import vueImage from '../../../images/frameworks/vue.png';
import laravelImage from '../../../images/frameworks/laravel.png';
import Project from '../Project.astro';
import dockerImage from '../../../images/frameworks/docker.png';
import postgresImage from '../../../images/frameworks/postgresql.png';
---

<Project name="Fleetic" techStack={[
  {src: vueImage.src, alt: 'Vue.js'},
  {src: laravelImage.src, alt: 'Laravel'},
  {src: postgresImage.src, alt: 'PostgresSql'},
  {src: dockerImage.src, name: 'Docker'},
]}>
    <p>
        Build a reservation tool to manage the fleet at rowing clubs and allows members to reserve a rowing boat for a training session.
    </p>
    <p class="flex-1">
        I used Vue.js to create a Gantt chart like visualization, typical for these types of booking tools. The api was built with Laravel
        and the PostgresSql database allowed me to leverage some nice built-in constraints on database level to prevent overlapping reservations.
    </p>
</Project>