---
import Tag from '@components/tag/Tag.astro';
---

<section class="flex flex-wrap justify-center gap-4 mx-4 md:gap-7 mb-40">
    <Tag>Typescript</Tag>
    <Tag>Kotlin</Tag>
    <Tag>PHP</Tag>
    <Tag>Node.js</Tag>
    <Tag>SCSS</Tag>

    <Tag>Angular</Tag>
    <Tag>React</Tag>
    <Tag>Next.JS</Tag>
    <Tag>AnalogJS</Tag>
    <Tag>Vue.js</Tag>
    <Tag>Ionic</Tag>
    <Tag>NestJS</Tag>
    <Tag>Laravel</Tag>

    <Tag>Playwright</Tag>
    <Tag>Cucumber.js</Tag>
    <Tag>Jest</Tag>
    <Tag>Vitest</Tag>
    <Tag>Cypress</Tag>

    <Tag>RXJS</Tag>
    <Tag>Observables</Tag>
    <Tag>Redux</Tag>
    <Tag>Redux-toolkit</Tag>
    <Tag>Redux-saga</Tag>
    <Tag>React-query</Tag>
    <Tag>NGRX</Tag>
    <Tag>NGXS</Tag>
    <Tag>tRPC</Tag>
    <Tag>D3.js</Tag>
    <Tag>Highcharts</Tag>
    <Tag>Chart.js</Tag>
    <Tag>Tailwind.css</Tag>
    <Tag>Storybook</Tag>

    <Tag>SPA</Tag>
    <Tag>AWS</Tag>
    <Tag>CI/CD</Tag>
    <Tag>CDN</Tag>
    <Tag>Gitlab-CI</Tag>
    <Tag>Fastlane</Tag>
    <Tag>Git</Tag>
    <Tag>Sentry</Tag>

    <Tag>Scrum/Agile</Tag>

    <Tag>Postgres</Tag>
    <Tag>Prisma</Tag>
    <Tag>Docker</Tag>
    <Tag>NGINX</Tag>
    <Tag>Webpack</Tag>
    <Tag>Vite</Tag>
</section>
