---
const { class: className } = Astro.props;
---

<a href="/resume.pdf"
   target="_blank"
   class={(className || '') + " hover:bg-violet-800 bg-violet-900 text-white rounded-full border-none outline-none py-3 px-14 font-medium text-2xl w-fit whitespace-nowrap"}>
    My resume
</a>