---
import Layout from '../layouts/Layout.astro';
import Skills from '@components/skills/Skills.astro';
import SideProjects from '@components/side-projects/SideProjects.astro';
import Header from '@components/header/Header.astro';
import WorkExperience from '@components/work-experience/WorkExperience.astro';
import WorkExperienceMobile from '@components/work-experience/WorkExperienceMobile.astro';
import Clients from '@components/client-logos/Clients.astro';
import Testimonials from '@components/testimonials/Testimonials.astro';
import MobileTestimonials from '@components/testimonials/MobileTestimonials.astro';
import ResumeButton from '@components/resume/ResumeButton.astro';
---

<style>
    .testimonials-header {
        box-shadow: 0 0 30px 30px hsl(249 22% 12%);
        background: hsl(249 22% 12% / 0.96);
    }
</style>

<Layout>
    <Header/>

    <main class="order-3 col-start-2 col-end-4 grid gap-y-14 py-14">
        <Clients/>
        <h2 class="text-5xl font-bold text-center text-shadow">Work experience</h2>
        <WorkExperience/>
        <WorkExperienceMobile/>
    </main>

    <main class="order-5 grid gap-y-14 py-60 col-start-1 md:col-start-2 col-end-5">
        <SideProjects/>
    </main>

    <main class="order-6 col-start-1 col-end-5 md:col-start-2 md:col-end-4 grid gap-y-14 py-14">
        <h2 class="text-6xl font-bold text-center text-shadow testimonials-header">Skills</h2>
        <Skills/>

        <h2 class="text-6xl font-bold text-center text-shadow testimonials-header">What my clients say</h2>
        <Testimonials/>
        <MobileTestimonials/>

        <h2 class="text-6xl font-bold text-center mt-60 text-shadow">Download my resume</h2>
        <ResumeButton class="m-auto mb-40"/>
    </main>
</Layout>
