---
import Layout from '../layouts/Layout.astro';
import SideProjects from '../components/side-projects/SideProjects.astro';
import Header from '../components/header/Header.astro';
import WorkExperience from '../components/work-experience/WorkExperience.astro';
import WorkExperienceMobile from '../components/work-experience/WorkExperienceMobile.astro';
import Clients from '../components/client-logos/Clients.astro';
import Testimonials from '../components/testimonials/testimonials.astro';
import MobileTestimonials from '../components/testimonials/mobile-testimonials.astro';
---

<Layout title="Bram Bronswijk | Portfolio">
    <Header/>

    <main class="order-3 content grid gap-y-14 py-14">
        <Clients/>
        <h2 class="text-5xl font-bold text-center [text-shadow:_0_4px_1em_hsl(267_57%_63%_/_0.6)]">Work experience</h2>
        <WorkExperience/>
        <WorkExperienceMobile/>
    </main>

    <main class="order-5 side-projects grid gap-y-14 py-60">
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            <div class="h-full p-8 flex flex-col justify-center">
                <h2 class="text-5xl font-bold [text-shadow:_0_4px_1em_hsl(267_57%_63%_/_0.6)]">
                    Highlighted<br> side projects</h2>
                <p class="py-8">
                    Always working on many side projects, to try out new
                    things and to keep up to date with the latest technologies.
                    This Portfolio website is one of them, which uses Astro.
                </p>
            </div>

            <div class="col-span-3">
                <SideProjects/>
            </div>
        </section>
    </main>

    <main class="order-6 content grid gap-y-14 py-14">
        <h2 class="text-6xl font-bold text-center [text-shadow:_0_4px_1em_hsl(267_57%_63%_/_0.6)] client-header">What my clients say</h2>
        <Testimonials/>
        <MobileTestimonials/>

        <h2 class="text-6xl font-bold text-center mt-60 [text-shadow:_0_4px_1em_hsl(267_57%_63%_/_0.6)]">Download my resume</h2>
        <button class="bg-violet-800 text-white rounded border-none outline-none py-2 px-10 font-bold self-start w-fit m-auto mb-40">
            My resume
        </button>
    </main>
</Layout>
