---
import ProfileImage from '@images/profile/profile-2.webp';
import ProfileMobileImage from '@images/profile/profile-mobile.webp';
import ResumeButton from '../resume/ResumeButton.astro';
import Card from '@components/card/Card.astro';
---

<picture class="order-none md:order-1 mt-4 md:mt-0 col-start-2 md:col-start-3 col-span-2 md:col-span-2 md:min-h-[540px] object-fill flex justify-center">
    <source media="(min-width: 768px)" srcset={ProfileImage.src}/>
    <img class="rounded-full md:rounded-none h-60 w-60 md:h-auto md:w-auto object-cover md:h-full -z-10"
         src={ProfileMobileImage.src}
         height="700px"
         alt="Profile picture of Bram Bronswijk"
         loading="eager"/>
</picture>

<section class="order-1 md:order-none flex flex-col align-start justify-center h-full col-start-2 col-span-2 md:col-start-2 md:col-span-1 py-4">
    <span class="text-3xl md:text-5xl -ml-1 text-shadow">Hi, I am,</span>
    <p class="text-6xl md:text-9xl font-bold -ml-2 text-shadow">Bram</p>
    <p class="max-w-96 text-shadow">
        A full-stack developer with a passion for frontend development and UI design.
    </p>
    <ResumeButton class="self-start my-4 md:my-8"/>
</section>

<Card class="order-2 flex flex-col gap-y-4 md:flex-row font-bold md:h-28 p-8 w-full md:w-2/3 justify-around md:-mt-12 col-start-2 col-end-4">
    <div class="flex gap-2">
        <div class="text-5xl">29</div>
        <div class="text-2xl leading-6">Worked with<br/>companies</div>
    </div>
    <div class="flex gap-2">
        <div class="text-5xl">22</div>
        <div class="text-2xl leading-6">Side<br/>projects</div>
    </div>
    <div class="flex gap-2">
        <div class="text-5xl">4</div>
        <div class="text-2xl leading-6">NPM<br/>Packages</div>
    </div>
</Card>
