---
const { class: className } = Astro.props;
---

<div class={(className || '') + " bg-bg border-white/10 border rounded-xl p-4 shadow-2xl flex items-center"}>
    <div class="flex flex-1 flex-col gap-3">
        <div class="flex gap-2">
            <div class="h-2 w-2 bg-purple-600 rounded"/>
            <div class="h-2 w-24 bg-white/60 rounded mr-auto"/>
        </div>
        <div class="h-2 w-60 bg-white/60 rounded mr-auto"/>
        <div class="h-2 w-40 bg-white/60 rounded mr-auto"/>
    </div>
    <div class="h-4 w-4 bg-purple-600 rounded-sm"/>
</div>