---
import Card from '@components/card/Card.astro';
---

<Card class="p-10 flex flex-col gap-6">
    <h3 class="text-4xl font-bold">LetsGrow.com</h3>
    <p class="leading-relaxed">
        Bram spent 8 months in my team building the front-end of two new functionalities. He is everything you would
        hope for from an external employee: smart, productive and a team player.
    </p>

    <p class="leading-relaxed">
        In addition, Bram has an eye for design and what he makes is beautiful and intuitive. His knowledge of Angular
        is extensive, and he enjoys transferring this to the team, so even after he left, his knowledge has remained in my team: <b>valuable.</b>
    </p>
    <p class="text-lg">
        <b>Anna</b><br>
        <small>Product Owner</small>
    </p>
</Card>