---
import Card from '@components/card/Card.astro';
---

<Card class="p-10 flex flex-col gap-6">
    <h3 class="text-4xl font-bold">Vanderlande</h3>
    <p class="leading-relaxed">
        Bram fulfills the lead role within our frontend team. He is not only doing his own tasks and defining it, he is also doing it for the rest of the front-end team.
    </p>
    <p class="flex-1 leading-relaxed">
        He translates requirements into user stories and defines next steps for the whole front-end work in the team and collaborates across teams. Also keeps a check on the rest of the front-end team.
    </p>

    <p class="text-lg">
        <b>Hilda</b><br>
        <small>Product Owner</small>
    </p>
</Card>