---
import Anna from './Anna.astro';
import Hilda from './Hilda.astro';
import Melike from './Melike.astro';
---

<section class="hidden md:grid md:grid-cols-2 lg:grid-cols-3 gap-10">
    <Anna/>
    <Hilda/>
    <Melike/>
</section>
