---
import SideProjectsSlider from './SideProjectsSlider.astro';
---
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
    <div class="h-full p-8 flex flex-col justify-center text-center md:text-left">
        <h2 class="text-5xl md:text-6xl font-bold text-shadow">
            Highlighted<br/> side projects</h2>
        <p class="py-8 leading-loose">
            Always working on many side projects, to try out new
            things, and to keep up to date with the latest technologies.
            This portfolio website is one of them, which gave me an opportunity to try out Astro.
        </p>
    </div>

    <div class="md:col-span-3">
        <SideProjectsSlider/>
    </div>
</section>