---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="content-grid">
		<slot />
	</body>
</html>

<style is:global>
	body {
		--padding-inline: 1rem;
		--content-max-width: 1200px;
		--breakout-max-width: 1400px;

		--breakout-size: calc(
			(var(--breakout-max-width) - var(--content-max-width)) / 2
		);

		display: grid;
		padding-bottom: 4rem;

		grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      50% - (var(--padding-inline) * 2),
			var(--content-max-width) / 2
    )
		[content-center] min(
      50% - (var(--padding-inline) * 2),
			var(--content-max-width) / 2
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
	}

	.content {
		grid-column: content;
	}

	.breakout {
		grid-column: breakout;
	}

	.full-width {
		grid-column: full-width;

		display: grid;
		grid-template-columns: inherit;
	}
</style>
